html
  include head.pug
  body
    div.ui.grid
      div.sixteen.wide.column
        table.ui.inverted.teal.table
          tbody
            tr
              td
                div.ui.action.input
                  input#amount(type="text" placeholder="Amount")
                  button.ui.button Add Balance
              td.right.aligned
                button.ui.button Portfolio
      div.eight.wide.column
        table.ui.celled.table
          thead
            tr
              th(colspan='3')
                p Stock Prices
          tbody
            each object in stockData
              tr
                td(data-label='Name')= object.name
                td(data-label='Price')= object.price