html
  include head.pug
  body
    div.ui.grid
      div.eight.wide.column
        table.ui.celled.table
          thead
            tr
              th(colspan='3')
                p Stock Prices
          tbody
            each object in stockData
              tr
                td(data-label='Name')= object.name
                td(data-label='Price')= object.price